{% extends 'shopfront/base.html' %}

{% block header %}
<h1>{% block title %}{{wine.year}} {{ wine.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="card prod-card">
  <img class="card-img-top" src="/../static/wine-{{ wine.id }}.jpg" width="200px">
  <div>
    <div class="card-body">
      <h2>Tasting Notes</h2>
      <p>{{ wine.description }}</p>
      <h2>Product Information</h2>
      <p><strong>Country:</strong> {{ wine.country }}</p>
      <p><strong>Grape Variety:</strong> {{ wine.variety }}</p>
    </div>
    <div class="card-figures">
      <p>{{ wine.stock_level }} in stock</p>
      <p>  in basket</p>
    </div>
 

  <div class="card-footer">
    <p>Price: {{ wine.price_incvat }}</p>
    <form class="winelist-form" action="" method="post">
      <input type="hidden" name="wine_id" value={{wine.id}}>
      <input type="number" name="quantity" id="" value="1" min="1" max="{{ wine.stock_level }}">
      <button class="cart-button fas fa-2x fa-cart-plus" type="submit"></button>
    </form>
  </div>
</div>
</div>
<a href="">Back to search results</a>
{% endblock %}
