{% extends 'shopfront/base.html' %}

{% load static %}
{% load shopfront_extras %}

{% block header %}
<h1>{% block title %}Winelist{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if sort == 'desc' %}
<a href=""><button class="sort-button fas fa-2x fa-sort"></button></a>
{% else %}
<a href=""><button class="sort-button fas fa-2x fa-sort"></button></a>
{% endif %}
<div id="list">
  {% for item in wines%}
  <div class="card" id="{{ item.id }}">
	  <a href="{% url 'product-details' item.id %}"> <img class="card-img-top"
		       src="{% static 'img/' %}{{ item.image_filename }}" width="200px">
        <div class="card-body">
          <h2>{{ item}}</h2>
          <p>{{ item.description }}</p>
      </a>
      <div class="card-figures">
        <p>{{ item.stock_level }} in stock</p>
	<p>{{ item.id|in_basket:request.session }} in basket</p>
      </div>
    </div>
    <div class="card-footer">
      <p>Price: {{ item.price_incvat }}</p>
      <form class="winelist-form" action="{% url 'update-cart' %}" method="post">
	{% csrf_token %}
        <input type="hidden" name="item_id" value={{item.id}}>
        <input type="number" name="quantity" id="" 
					     value="{{ item.id|in_basket:request.session }}" 
					     min="0" max="{{ item.stock_level }}">
        <button class="cart-button fas fa-2x fa-cart-plus" type="submit"></button>
      </form>
    </div>
  <hr>
</div>
{% endfor %}
</div>

{% endblock %}
